body{
    background: url(Artboard\ 1.png) no-repeat center center fixed;
    background-position: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}