{% extends 'TheKiddoDontist/index.html' %}
{% block differentpart %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Clinic</title>
    <link rel="stylesheet" href="7anafy.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header_footer.css" />
    <link rel="shortcut icon" href="favicon.ico.png" type="image/x-icon">
  </head>
  <body>
   
  <h1>
    
    About Us
  </h1>
<p>
    Welcome to The Kiddo Dontist where your child’s little teeth get big smiles. Our clinic is designed specifically for children , with a fun and friendly environment that will definitely make their dental visits enjoyable and stress free . Our team of experienced dentists and staff are passionate about providing the best possible care for your child’s dental health by using the latest technology and techniques to ensure your child receives the highest quality dental care in a safe and comfortable environment . Thank you for choosing us as your child’s dental provider we won’t let you down !
  </p>
  
  <div class="container">
    <div>
        <img class="circle" src="dr.2.jpeg">
        <p> 
           I’m Dr.Dina khaled graduated from faculty of dentistry Misr international university year 2021. I’ve recently started working as an assistant for whity dental clinic and currently undergoing my bachelor‘s degree in pediatric dentistry at Cairo university.
      </p>
      </div>
    <div>
      <img class="circle" src="dr.1.jpeg">
      <p>  
         I am Dr. Reem Fakhry graduated from faculty of dentistry Ain shams university year 2021 . I have worked as a pediatric assistant for whity dental clinic through my whole intern year and currently undergoing my bachelor’s degree in pediatric dentistry. It has always been my passion to deal with kids and help them have a nice friendly experience so that they are always motivated to come again and gain their confidence. I promise to provide your kids with the best service possible so they always keep on smiling with their little teeth</p>
    </p>
    </div>
   
    <div>
      <img class="circle" src="dr.3.jpeg">
      <p>I’m Dr.Abadir Ghaly graduated from faculty of dentistry Ain shams university year 2021. Currently working as an assistant at Innovinity dental clinic and undergoing my bachelor’s degree in pediatric dentistry at Ain shams university.</p>
    </div>
  </div>
  
</body>
{% endblock %}