{% extends 'TheKiddoDontist/index.html' %}
{% block differentpart %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="header_footer.css" />
    <link rel="shortcut icon" href="favicon.ico.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENERAL ANESTHESIA</title>

</head>

<body>
 
    <h1 style="color: goldenrod;">GENERAL  ANESTHESIA </h1>
    <div class="center">
        <img src="R.jpg " width="65%" alt="centered image" />
    </div>
    <p> Young children with dental pain and/or infection require treatment-sometimes this means that your child will need to go through general anesthesia in order to entirely relax his or her reflexes. Your kid will not remember the surgery and will not feel any pain during it. Of course, there are many reasons for this. Some dental procedures require your child to lie completely still; general anesthesia may also be used if your child needs multiple treatments performed simultaneously or large/complicated procedures that will take a lot of time to be carried out. The goal is always to provide the safest and most pain-free treatment. The bottom line is that <em>"The Kiddo Dontist"</em> has made a collaboration with <em>Maghrabi Hospitals</em> where the operations will take place.</p>
   
</body>
</html>
{% endblock %}