{% extends 'TheKiddoDontist/index.html' %}
{% block differentpart %}
{% load static  %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage.css" />
    <link rel="stylesheet" href="header_footer.css" />
    <link rel="shortcut icon" href="{% static 'TheKiddoDontist/favicon.ico.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'TheKiddoDontist/home.css' %}" />
    <title>The KiddoDontist</title>

  </head>
  <body>
   
    
    <body>
      <div id="slideshow">
        <img src="{% static 'TheKiddoDontist/best-pediatric-dentist.jpg' %}" alt="My Image">
        <img src="{% static 'TheKiddoDontist/Backtoschool.jpg' %}" alt="My Image">
        <img src="{% static 'TheKiddoDontist/back3 (2).jpg' %}" alt="My Image">  
      </div>
      
    </body>
    <p>
      <div class="paragraph1">
      WELCOME TO THE KIDDODONTIST,<br> CAN'T WAIT TO SEE YOU KIDDO ... 
  </div>
    </p>

  <div class="gif"> <img src="200w.gif"></div>

    <div class="floating-icons">
      <a href="tel:1234567890" class="telephone"><i class="fa fa-phone"></i></a>
      <a href="https://wa.me/1234567890" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
      <a href="geo:37.7749,-122.4194" class="location"><i class="fa fa-map-marker"></i></a>
    </div>
    
 
    <script src="{%static 'TheKiddoDontist/script.js'%}"></script>
  
  </body>
</html>
{% endblock %}