{% extends 'TheKiddoDontist/index.html' %}
{% block differentpart %}
{% load static  %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Reviews.css" />
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="header_footer.css">
    <link rel="shortcut icon" href="favicon.ico.png" type="image/x-icon">
    <title>Reviews</title>
    
    <link rel="stylesheet" href="{% static 'TheKiddoDontist/reviews.css' %}" />
</head>
<body> 
   
<section id="Reviews">
    <div class = "Reviews-Heading">
        <h1>Testimonials</h1>
    </div>

    <div class="container">
        <div class="box">

            <div class="boxTop">
        
                <div class="profile">
        
                    <div class="profile-img">
                        <img src="My Photo.jpg">
                    </div>
        
                    <div class="user-name">
                        <strong> Yomna Hachem</strong>
                        <span>@yomnahachem</span>
                    </div>
        
                    <div class="ratings">
                        <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    </div>
        
                </div>
        
            </div>
        
            <div class="comments">
                <p>We had a fantastic experience at the kids dental clinic. The staff were so friendly and welcoming, and made my child feel comfortable throughout their visit. The dentist was also great at explaining things in a way that my child could understand, which made the whole process much easier for us. I would definitely recommend this clinic to other parents</p>
            </div>
        
        </div> <!-- closing tag for the first box -->
        
        <div class="box">
        
            <div class="boxTop">
        
                <div class="profile">
        
                    <div class="profile-img">
                        <img src="sam.jfif">
                    </div>
        
                    <div class="user-name">
                        <strong> Sam Cliff</strong>
                        <span>@samuel88</span>
                    </div>
        
                    <div class="ratings">
                        <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    </div>
        
                </div>
        
            </div> 
        
            <div class="comments">
                <p>I was so impressed with the level of care my child received at this dental clinic. The dentist took the time to explain everything that was going on and made sure my child felt at ease throughout the appointment. The staff were also very kind and accommodating, which made the experience even better. I would definitely recommend this clinic to other parents.</p>
            </div>
        
        </div> 
    
        <div class="box">
        
            <div class="boxTop">
        
                <div class="profile">
        
                    <div class="profile-img">
                        <img src="lauren.webp">
                    </div>
        
                    <div class="user-name">
                        <strong> Lauren Goldberg</strong>
                        <span>@GoldbergLauren</span>
                    </div>
        
                    <div class="ratings">
                        <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    </div>
        
                </div>
        
            </div> 
        
            <div class="comments">
                <p>The kids dental clinic is amazing! The staff are all so friendly and helpful, and the dentist is wonderful with children. My child actually looks forward to going to the dentist now, which is a huge relief. I would highly recommend this clinic to anyone looking for a great dental experience for their kids.</p>
            </div>
        
        </div> 
    
        <div class="box">
        
            <div class="boxTop">
        
                <div class="profile">
        
                    <div class="profile-img">
                        <img src="adam.jpg">
                    </div>
        
                    <div class="user-name">
                        <strong>Adam Jr</strong>
                        <span>@Adam22junior</span>
                    </div>
        
                    <div class="ratings">
                        <span>&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    </div>
        
                </div>
        
            </div> 
        
            <div class="comments">
                <p>I cannot say enough good things about the kids dental clinic. The staff are all incredibly friendly and knowledgeable, and the dentist is amazing with kids. My child has some anxiety about dental visits, but the team at this clinic were able to put them at ease and make the experience much less stressful. I would definitely recommend this clinic to other parents</p>
            </div>
        
        </div> 


    </div>



    <div class="addReview">
        
        <h2>Add a Review</h2>
        <form>
            
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
        
                <label for="Email">Email:</label>
                <input type="email" id="email" name="email" required>
     
               <label for="rating">Rating:</label>
               <select id="rating" name="rating" required>
                <option value="">--Select rating--</option>
                <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
                <option value="3">&#9733; &#9733; &#9733;</option>
                <option value="2">&#9733; &#9733;</option>
                <option value="1">&#9733;</option>
               </select>

         
                <label for="review">Review:</label>
                <textarea id="review" name="review" rows="4" required></textarea>
    
         
                <button type="submit">Submit Review</button>

           
           
            
          
          </form>

    </div>



</section>

</body>
</html>
{% endblock %}